<header>
    <nav>
        <ul>
            <li><a href="accueil" class="menu">Accueil</a></li>
            <li><a href="gamelist" class="menu">Game List</a></li>
            <li><a href="contact" class="menu">Contact</a></li>
        </ul>
    </nav>
</header>
